@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-12 col-sm-5 col-md-4">
    <h3>Buy Sms Credit</h3>
    <form method="post">
        @if (!string.IsNullOrWhiteSpace(Model.Message))
        {
            <div class="messageBox text-danger">
                Model.Message
            </div>
        }
        <div class="form-group">
            <label asp-for="TransactionDetail.amount">Sms Price To Buy </label>
            <input class="form-control" asp-for="TransactionDetail.amount" readonly/>
            <span asp-validation-for="TransactionDetail.amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TransactionDetail.email">Email Address:</label>
            <input asp-for="TransactionDetail.email" class="form-control" placeholder="Enter email">
            <span asp-validation-for="TransactionDetail.email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" asp-page-handler="InitializePayment">Buy Now</button>
    </form>
</div>
