@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-5">
    <h3>Buy Sms Credit</h3>
    <form method="post">
        <div class="form-group">
            <label>Sms Credits</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email">
        </div>
        <button type="submit" class="btn btn-primary">Buy Now</button>
    </form>
</div>
